

input {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #D9D9D9;
  border-radius: 30px;
  outline: none;
  margin-bottom: 20px;
}

input::placeholder {
  color: #D9D9D9;
  font-weight: 600;
}
